.nsm-light-blue { color: #B8D3DE; }
.nsm-blue { color: #335C85; }
.nsm-red { color: #B11D3A; }
.nsm-dark-blue { color: #003366; }
.nsm-light-gray { color: #F2F2F2; }
.nsm-dark-gray { color: #CCCCCC; }
